<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Break_List.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Break_List.Properties.Settings.livegameConnectionString2"
            connectionString="server=192.168.0.187;user id=hakan;password=26091974;persistsecurityinfo=True;database=livegame"
            providerName="MySql.Data.MySqlClient" />
        <add name="192.168.0.187_livegame_Connection" connectionString="XpoProvider=MySql;server=192.168.0.187;port=3306;user id=hakan; password=26091974; database=livegame;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <userSettings>
        <Break_List.Properties.Settings>
            <setting name="operationDate" serializeAs="String">
                <value>09/30/2016 11:07:00</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value>2016-10-10</value>
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value>2016-10-11</value>
            </setting>
        </Break_List.Properties.Settings>
    </userSettings>
</configuration>