<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Break_List.Properties.Settings.LiveGameConnectionString"
            connectionString="Data Source=DBSQL\FINANCE;Initial Catalog=LiveGame;Persist Security Info=True;User ID=hakan;Password=26091974"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>